.formArea {
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  background-color: #f3f3f3;
  padding: 20px 40px;
}

.btn-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  height: 40px;
  width: 150px;
}

.form-auth {
  margin-top: 10px;
}
